.homebg {
  background-color:#ffffff;
 }

.icon-bar {
    
    background-color: #1b1b1b; 
    margin: 0 auto;
}


.logo {
    color: #eb3532;
    height: 30px; 
    margin-top: 9px;
}


.icon-bar a.menu-item {
    font-size: 22px;
    color: white;
}

.dropbtn {
    background-color: #262626;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:focus {
    border: none;
    outline: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.group-right {
    float: right;
}

.group-right a.menu-item {
    padding: 10px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #050505;
    min-width: 195px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}


.dropdown-content a {
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f2b63e; 
    color: #505050;
}
                   

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000;
}


.btn.btn-primary {
    background-color: #028ad8;
    margin-bottom: 9px; 
}

h4 {
    margin-top: 40px;
    margin-left: 40px;
}

.panlist {
  border: solid 1px #bdbdbd;
  background-color: #edeaea;
  text-decoration: none;
  color: #000000;
  margin-top: 50px;
}


.vertdots {
  float: right;
}

.vertdots:after {
  content: '\2807';
  font-size: 32px;
  color: #c4c4c4;
}

.txtstyle {
  padding: 8px;
}

.widsic  {
  float: right;
  font-size: 32px;
  margin-right: 8px;
}


.search {
  position: relative;
  color: #fcfcfc;
  font-size: 14px;
  margin-top: 60px;
  
}

.search input {
  width: 165px;
  height: 32px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  
}

.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 140px;
  color:#656565;
}

select {
  border:0px;
  outline:0px;
  margin-top: 50px;
}

 .table {
  margin-top: 40px;
 }

.borderless td, .borderless th {
    border: none;
}


.pagination a {
    margin-left: 25px;
    padding: 2px 1px;
    text-decoration: none;
}

.pagination a.disabled { 
    color: #cfcfcf;
    font-weight: bold;
  }

.pagination a.current {
  color:#4f4f4f;
}



